@model SitioFundacionOscarez.Models.Proyectos
@{
    ViewBag.Title = "Fundación Oscarez";
}

<div class="row">

    @if (@ViewBag.Error == null)
    {
        if (ViewBag.Proyectos != null && ViewBag.Proyectos.Count > 0)
        {
            <div class="col-lg-12">
                <h1 class="page-header">
                    Programas y Proyectos
                </h1>
                <h1 class="h3" style="text-align: justify; font-size: 14px; line-height: 20px">
                    Somos una Fundación que ejecuta programas y proyectos con instituciones y entidades públicas / privadas que generen impacto
                    en el tejido social de la comunidad, contribuyendo al mejoramiento de la calidad de vida de la población atendida en el
                    marco de sus diferentes proyectos. Abierta a la diversidad y a la inclusión, comprometida con el cambio de su entorno social fomentando los
                    valores y desarrollando habilidades y destrezas para formar ciudadanos competentes en el ser, el saber, y el hacer, desde la investigación
                    y la responsabilidad social con la población más vulnerable.
                </h1>
            </div>
            foreach (var item in ViewBag.Proyectos)
            {
                <div class="col-md-4 col-sm-6">
                    <p style="text-align: justify; font-weight: bold; font-style: italic;">@item.Titulo</p>
                    <a href='@Url.Action("Details", "Proyectos", new { id = @item.id})'>
                        <img class="img-responsive img-portfolio img-hover" src="~/Images/proyectos/@item.ImagenProyecto" alt="@item.Titulo">
                    </a>
                </div>
            }
        }
    }
    else
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Atención! </strong> @ViewBag.Error
        </div>
    }
</div>

@if (@ViewBag.Error == null)
{
    if (@ViewBag.ProyectoAzar != null)
    {
        <div class="row">
            <div class="col-lg-12">
                <a href='@Url.Action("Details", "Proyectos", new { id = @ViewBag.ProyectoAzar.id})'>
                    <h2 class="page-header">@ViewBag.ProyectoAzar.Titulo</h2>
                </a>
            </div>
            <div class="col-md-6">
                <p style=" text-align: justify;">
                    @ViewBag.ProyectoAzar.Descripcion
                </p>
            </div>
            <div class="col-md-6">
                <a href='@Url.Action("Details", "Proyectos", new { id = @ViewBag.ProyectoAzar.id})'>
                    <img class="img-responsive" src="/Images/proyectos/@ViewBag.ProyectoAzar.ImagenProyecto" alt="@ViewBag.ProyectoAzar.Titulo">
                </a>
            </div>
        </div>
        <hr />
    }  
}

<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p style="font-size: 14px; margin: 6px 10px 0px">El Instituto OSCAREZ para el Saber es una institución privada, que desarrolla, ejecuta proyectos y programas en lo concerniente a pruebas estandarizadas y capacitación en Estrategias Metodológicas......</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="http://www.institutooscarez.com.co/" target="_blank">Institución Oscarez</a>
        </div>
    </div>
</div>
